MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_TO=chaturvedivishal366@gmail.com
MAIL_FROM=chaturvedivishal366@gmail.com
PORT=3000
